<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="com.sjtc.weiwen.news.column.dao.NewsColumnEntityMapper">
	<resultMap id="BaseResultMap"
		type="com.sjtc.weiwen.news.column.dao.entity.NewsColumnEntity">
		<id column="oid" property="oid" jdbcType="VARCHAR" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="p_oid" property="pOid" jdbcType="VARCHAR" />
		<result column="user_oid" property="userOid" jdbcType="VARCHAR" />
		<result column="area_oid" property="areaOid" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		oid, title, p_oid, user_oid, area_oid
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from t_news_column
		where oid = #{oid,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from t_news_column
		where oid = #{oid,jdbcType=VARCHAR}
	</delete>
	<insert id="insert"
		parameterType="com.sjtc.weiwen.news.column.dao.entity.NewsColumnEntity">
		insert into t_news_column (oid, title, p_oid,
		user_oid, area_oid)
		values (#{oid,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR},
		#{pOid,jdbcType=VARCHAR},
		#{userOid,jdbcType=VARCHAR}, #{areaOid,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective"
		parameterType="com.sjtc.weiwen.news.column.dao.entity.NewsColumnEntity">
		insert into t_news_column
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="oid != null">
				oid,
			</if>
			<if test="title != null">
				title,
			</if>
			<if test="pOid != null">
				p_oid,
			</if>
			<if test="userOid != null">
				user_oid,
			</if>
			<if test="areaOid != null">
				area_oid,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="oid != null">
				#{oid,jdbcType=VARCHAR},
			</if>
			<if test="title != null">
				#{title,jdbcType=VARCHAR},
			</if>
			<if test="pOid != null">
				#{pOid,jdbcType=VARCHAR},
			</if>
			<if test="userOid != null">
				#{userOid,jdbcType=VARCHAR},
			</if>
			<if test="areaOid != null">
				#{areaOid, jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.sjtc.weiwen.news.column.dao.entity.NewsColumnEntity">
		update t_news_column
		<set>
			<if test="title != null">
				title = #{title,jdbcType=VARCHAR},
			</if>
			<if test="pOid != null">
				p_oid = #{pOid,jdbcType=VARCHAR},
			</if>
			<if test="userOid != null">
				user_oid = #{userOid,jdbcType=VARCHAR},
			</if>
			<if test="areaOid != null">
				area_oid = #{areaOid, jdbcType=VARCHAR},
			</if>
		</set>
		where oid = #{oid,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="com.sjtc.weiwen.news.column.dao.entity.NewsColumnEntity">
		update t_news_column
		set title = #{title,jdbcType=VARCHAR},
		p_oid = #{pOid,jdbcType=VARCHAR},
		user_oid = #{userOid,jdbcType=VARCHAR},
		area_oid = #{areaOid,jdbcType=VARCHAR},
		where oid = #{oid,jdbcType=VARCHAR}
	</update>
	<select id="selectNewsColumnsByFuzz" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List" />
		from t_news_column
		<where>
			1=1
			<if test="title != null and title != ''">
				and title like '%#{title,jdbcType=VARCHAR}%'
			</if>
			<if test="pOid != null and title != ''">
				and p_oid = #{pOid,jdbcType=VARCHAR}
			</if>
			<if test="userOid != null and title != ''">
				and user_oid = #{userOid,jdbcType=VARCHAR}
			</if>
			<if test="areaOids != null">
				and area_oid in 
				<foreach collection="areaOids" item="areaOid" index="index" open="(" separator="," close=")">
					#{areaOid}
				</foreach>
			</if>
		</where>
	</select>
	<select id="selectChildrensByPOid" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from t_news_column
		<where>
			<if test="_parameter != null and _parameter != ''">
				p_oid = #{pOid, jdbcType=VARCHAR}
			</if>
			<if test="_parameter == null and _parameter == ''">
				p_oid = '0'
			</if>
		</where>
	</select>
	<select id="selectParentNewsColumns" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_news_column
		<where>
			p_oid = '0'
			<if test="title != null and title != ''">
				and title like '%#{title,jdbcType=VARCHAR}%'
			</if>
			<if test="areaOids != null">
				and area_oid in 
				<foreach collection="areaOids" item="areaOid" index="index" open="(" separator="," close=")">
					#{areaOid}
				</foreach>
			</if>
		</where>
	</select>
	<select id="selectNewsColumnOidsByArea" resultType="java.lang.String" parameterType="java.lang.String">
		SELECT oid FROM t_news_column WHERE FIND_IN_SET(area_oid, getChildList(#{areaOid, jdbcType=VARCHAR}));
	</select>
	<select id="selectNewsColumnOidsByParent" resultType="java.lang.String" parameterType="java.lang.String">
		SELECT oid FROM t_news_column WHERE FIND_IN_SET(oid, getNewsColumnChildList(#{parentOid, jdbcType=VARCHAR}));
	</select>
</mapper>